body  {
	background: powderblue;
	text-align: center;
}

.circle {
	width: 40px;
	height: 40px;
	fill: powderblue;
}

.App {
	text-align: center;
	background: cornflowerblue;
}

.Choose{
	text-align: center;
	background: blue;
}

.Choose2{
	position: fixed;
	top: 50%;
	left: 50%;

	background: crimson;
}
